@page "/chatRoom"
@using ChatAppWeb.Services
@using ChatAppWeb.classes
@using System.IO;
@using Microsoft.AspNetCore.SignalR.Client
@using Shared
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using Shared.Data
@inject MessageService service;
<PageTitle>Chat Room</PageTitle>

<div class="vh-100 pb-5 d-flex flex-column overflow-hidden container-fluid">
    <div class="m-0 p-2 text-center row flex-grow-0">
        <h3 class="m-0">Chat Room</h3>
    </div>
    <div class="h-100 border m-0 p-2 rounded-3 text-center row flex-grow-1 overflow-auto">
        <div class="h-100 flex-column d-flex justify-content-start">
            @if (ChatBoxMessages != null)
            {
                @foreach (var message in ChatBoxMessages)
                {
                    <div class="border border-dark rounded-3 p-2 mb-2 row bg-light">
                        <h5 class="d-flex justify-content-start">@message.Sender</h5>
                        <p class="m-0 text-start">@message.MessageText</p>
                        <p class="d-flex justify-content-end m-0">@message.Timestamp</p>
                    </div>
                }
            }
            @if (TypingMessage && User != null && User != "")
            {
                <div class="row">
                    <h5 class="text-start mx-2">@User</h5>
                    <div class="typing mt-0">
                        <span class="circle scaling"></span>
                        <span class="circle scaling"></span>
                        <span class="circle scaling"></span>
                    </div>
                </div>
            }

        </div>

    </div>
    <div class="border rounded-3 m-0 p-2 text-center tow flex-grow-0 mb-5">
        <form class="p-0 m-0 row" @formname="message-form"  onsubmit="return false">
            <div class="col-10">
                <div class="form-group row">
                    <label class="col-3 text-end">
                        Name:
                    </label>
                    <div class="col-9">
                        <input class="form-control m-0 p-1" @oninput="HandleTyping" @bind="NewMessage!.Sender" placeholder="Tom Riddle" />
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <label class="col-3 text-end">
                        Message:
                    </label>
                    <div class="col-9 align-content-end">
                        <input class="form-control m-0 p-1" @bind="NewMessage!.MessageText" placeholder="Hello!" disabled="@(string.IsNullOrEmpty(NewMessage.Sender))"/>
                    </div>
                </div>
                <div class="form-group row m-0">
                    <label class="col-3 text-end">
                        Image:
                    </label>
                    <div class="col-9 align-content-end">
                        <InputFile class="form-control m-0 p-1" type="file" accept="image/*" @OnChange="HandleImageUpload" />
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <div class="form-group mt-3 row align-content-end">
                    <button class="btn btn-primary" type="submit" @onclick="@(() => SendMessage())">Send</button>
                </div>
            </div>
        </form>
    </div>

</div>

@* Still need to implement the timer to call the send function if less than a second has gone by
*@

@code {
    private string User;
    private HubConnection? hubConnection;
    private Message NewMessage = new Message { Sender = "", MessageText = "", ImagePath = "" };
    private List<Message> ChatBoxMessages = new List<Message>();
    private ChatBox chatBox;
    private long MaxFileSize = 100*1024*1024;
    private bool TypingMessage = false;
    private CancellationTokenSource typingCancellationToken;
    private MessageWithImageDto messageDto = new MessageWithImageDto { message = null, Image = "" };
    private System.Timers.Timer typingTimer;

    protected override async Task OnInitializedAsync()
    {
        // Initialize the ChatBox class by injecting the MessageService
        chatBox = new ChatBox(service); // Replace with actual dependency injection

        // Load initial messages
        await LoadMessages();

        typingTimer = new System.Timers.Timer();


        hubConnection = new HubConnectionBuilder()
        .WithUrl("http://client.bre-aub-chatapp.duckdns.org/chathub")
        .Build();


        hubConnection.On<string>("ReceiveTyping", (sender) =>
        {
            if(sender != NewMessage.Sender)
            {
                User = sender;
                ShowTypingIndicator();
            }
            //var encodedMsg = $"{user}";
            //add bubble
            //messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task ShowTypingIndicator()
    {
        TypingMessage = true;
        InvokeAsync(StateHasChanged);

    }

    private async Task CheckTypingStatus()
    {
        TypingMessage = false;
        InvokeAsync(StateHasChanged);

        await Task.CompletedTask;
    }

    // private async Task Send()
    // {
    //     typingTimer.Change(Timeout.Infinite, Timeout.Infinite);

    //     if (hubConnection is not null)
    //     {
    //         await hubConnection.SendAsync("SendMessage", NewMessage.Sender);
    //     }
    // }

    private async Task HandleTyping()
    {
        typingTimer.Interval = 1000;
        typingTimer.Elapsed += (s_, e_) => CheckTypingStatus();
        typingTimer.Enabled = true;


        if (hubConnection is not null && !string.IsNullOrEmpty(NewMessage.Sender))
        {
            await hubConnection.SendAsync("StartTyping", NewMessage.Sender);
            await ShowTypingIndicator();
        }
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async Task LoadMessages()
    {
        // Use the ChatBox class to get messages
        ChatBoxMessages = await chatBox.GetMessagesAsync();

    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file != null && file.Size <= MaxFileSize)
        {
            try
            {
                using (var memoryStream = new MemoryStream())
                {
                    await file.OpenReadStream().CopyToAsync(memoryStream);
                    memoryStream.Position = 0;

                    var buffer = new byte[memoryStream.Length];
                    await memoryStream.ReadAsync(buffer, 0, (int)memoryStream.Length);
                    var base64Image = Convert.ToBase64String(buffer);

                    // Set the base64 encoded image in your messageDto
                    messageDto.Image = base64Image;
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
    }


    private async Task SaveBase64ImageToVolume(string base64Image)
    {
        var volumePath = "/app/Images"; 
        var filePath = Path.Combine(volumePath, "uploaded_image.txt");
        Directory.CreateDirectory(volumePath);
        await File.WriteAllTextAsync(filePath, base64Image);
    }

    private async Task SendMessage()
    {
        NewMessage.Timestamp = DateTime.Now;
        messageDto.message = NewMessage;

        // Use the ChatBox class to send a message
        await chatBox.SendMessageAsync(messageDto);

        // Reload messages after sending a new message
        await LoadMessages();
        NewMessage = new Message { Sender = "", MessageText = "", ImagePath = "" };
    }
}
